*{
    margin:0;
    padding:0;
}
body{
    background-color: whitesmoke;
}
ul{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-color: brown;
    height: 70px;
    width: 100%;
}
ul li{
    margin:10px;
    list-style:none;
    color: aliceblue;
}
.sin{
    border:solid white 3px;
    border-radius:15px;
    padding:10px;
}
.design{
    display:flex;
    justify-content: center;
}
.design div{
    height: 200px;
    width: 200px;
    margin:10px;
}
.div1{
    border-top-left-radius:100px;
    border-bottom-right-radius:100px;
    background-color:green;
    animation-name: exempleAnimation;
    animation-duration: 3s;
}
@keyframes exempleAnimation{
    to{
        background-color: red;
    }
    50%{
        transform:scale(1.5);
    }
    100%{
        transform:rotate(360deg);
        border-radius:50%;
        
    }


}

.div2{
    border-radius: 100%;
    background-color: red;
    border:solid green 5px;
    animation-name: exempl;
    animation-duration: 3s;
}
@keyframes exempl{
    to{
        background-color: green;
    }
    50%{
        transform:scale(1.5);
    }
    100%{
        transform:rotate(360deg);
        border-radius:50%;
        
    }
}
.div3{
    border-top-right-radius:100px;
    border-bottom-left-radius:100px;
    background-color:green;
    animation-name: exemple;
    animation-duration: 3s;
}
@keyframes exemple{
    to{
        background-color: red;
    }
    50%{
        transform:scale(1.5);
    }
    100%{
        transform:rotate(360deg);
        border-radius:50%;
        
    }
}
h1{
    margin: 10px;
    text-align: center;
    letter-spacing:20px;
    animation-name:wow;
    animation-duration: 3s;
}
@keyframes wow{
    to{
        color: red;
    }
}

span{
    color:red;
}
.text{
    display: flex;
}
img{
    height: 100px;
}
.bottom{
    background-color: brown;
}
.mr{
    letter-spacing:30px;
}
a{
    color:whitesmoke;
    text-decoration: none;
}
a:hover{
    color:green;
}